<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>IASKPSGroupSpecifier</string>
			<key>Title</key>
			<string>History</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>Export History</string>
		</dict>

		<dict>
			<key>Type</key>
			<string>IASKPSGroupSpecifier</string>
			<key>Title</key>
			<string>Delete Website Data</string>
			<key>IASKSubtitle</key>
			<string>This operation is cannot be undone</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>Current website</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>All</string>
		</dict>
	</array>
</dict>
</plist>
